<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Matrizes</title>
    <link rel="stylesheet" href="static/styles/style.css">
</head>
<body>
    <header class="main-header">
        <h1>Calculadora de Matrizes</h1>
    </header>

    <main class="content">
        <section class="Texto">
            Calculadora de Matrizes:
        </section>
        <section class="Matriz">
            {%if matriz%}
                {{matriz}}
                {%endif%}
        </section>
    </main>

    <footer class="main-footer">
        <p>Bernardo Teixeira para Marcos Araújo</p>
    </footer>

    <script src="static/scripts/script.js"></script>
</body>
</html>